h1 {
  text-align: center;
}

form input {
  display: block;
  margin: 20px auto;
  padding: 10px ;
  height: 30px;
  width: 190px;
}

input.ng-invalid, .invalid {  
  border: 1px solid transparent;
  box-shadow: inset 0 0 3px 0 #F58;
  padding: 10px;
}

form button {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 215px;
}

mat-card {
  width: 500px;
  margin: 30px auto;
  background-color: #DDD;
  padding: 40px 0px;
  border-radius: 30px;
}
