.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.gallery-image {
  width: 100%;
  height: auto;
  max-height: 750px;
  object-fit: contain;
}


.gallery-subtitle {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.navigation-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

.dots-container {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.current-dot {
  background-color: #333;
}